<!DOCTYPE html>
<html>
<head>
    <title>區域狀況</title>
    <meta http-equiv="refresh" content="60">
    <meta charset="utf-8">
    <meta name="description" content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <!-- 曲線 -->
    <div id="myModal" class="modal" style="display:none;">
        <div class="modal-content">
            <canvas id="dataChart" width="400" height="180"></canvas>
        </div>
    </div>

    <!-- 時間 -->
    <div style="text-align:center">
        <header class="header-main light font-size-xxxs">
            <nav>
                <div class="nav-toggle"></div>
                <ul class="inline">
                    <li><a href="#" class="active"><span id="systemText" style="color: #ec8ada">區域狀況　　　</span></a></li>
                    <li><a href="#"><span id="z">時間：</span><span id="time"></span><span>　　</span></a></li>
                </ul>
            </nav>
        </header>
    </div>

    <main>
        <div class="place-container">
            <!-- 卡片 -->
            <div class="place-card" data-area="room" onclick="openModal('room')">
                <div class="image-overlay"> 
                    <img class="place-image opacity-xm" src="{{ url_for('static', filename='1ROOM.jpg') }}" alt="104">
                    <div class="overlay-text-mid-bot dark">
                        <h1>01</h1>
                    </div>
                </div>
            </div>
            
            <div class="place-card" data-area="dinner" onclick="openModal('dinner')">
                <div class="image-overlay"> 
                    <img class="place-image opacity-xm" src="{{ url_for('static', filename='1ROOM.jpg') }}" alt="105">
                    <div class="overlay-text-mid-bot dark">
                        <h1>02</h1>
                    </div>
                </div>
            </div>

            <!-- 指示 -->
            <div class="indicator" id="indicator1" style="left:10%;">
                <h4>PM2.5指示燈</h4>
                <div class="indicator-light" id="pm1" style="background-color: rgba(0, 255, 0, 0.795);"></div>
                <h4>風扇狀態</h4>
                <div class="indicator-light" id="fan1" style="background-color: rgba(255, 0, 0, 0.795);"></div>
            </div>

            <div class="indicator" id="indicator2" style="left:45%;">
                <h4>PM2.5指示燈</h4>
                <div class="indicator-light" id="pm2" style="background-color: rgb(255, 238, 0);"></div>
                <h4>風扇狀態</h4>
                <div class="indicator-light" id="fan2" style="background-color: rgba(255, 0, 0, 0.795);"></div>
            </div>
        </div>

        <div class="pm-image-container">
            <img src="./static/PM.jpg" alt="" id="img-room">
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
